<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sonatype DepShield Demo Project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Sonatype DepShield Demo Project</h1>
  <p>Welcome! This project was created to demo Sonatype's
    <a href="https://www.sonatype.com/depshield">DepShield</a> GitHub application.</p>
  <p>The project specifically uses dependencies with known vulnerabilities.
    Make sure to use updated versions of libraries in your own projects.</p>
</body>
</html>